* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
.banner {
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
}
.banner img {
    width: 100%;
    height: auto;
    min-height: 30vh;
    filter: brightness(80%);
}
.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.banner-content > h1 {
    font-size: 3em;
    font-family: Raleway;
    font-weight: 600;
}
.banner-content > p {
    font-family: Montserrat;
}
#services-overview {
    text-align: center;
}
.service-cont {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
section h2 {
    font-size: 2rem;
    font-family: Montserrat;
    font-weight: 500;
    color: --color-primary;
}
section p {
    font-size: 17px;
    font-family: Roboto;
    margin-top: 20px;
    color: var(--color-bg);
}
section > p {
    width: 70%;
    margin: auto;
    color: var(--color-secondary);
}
section ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}
section ul li {
    margin: 10px 0;
    font-family: Raleway;
    font-weight: 500;
    color: var(--color-bg);
}
section a {
    padding: 10px 20px;
    background: var(--color-primary);
    color: var(--color-bg);
    text-decoration: none;
    font-family: Raleway;
    font-size: 17px;
    margin-top: 20px;
}
.container {
    width: 100%;
    height: 100%;
    gap: 3rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}
.container h2 {
    color: var(--color-bg);
}
section {
    margin-top: 5rem;
    position: relative;
}
section img {
    width: 100%;
    height: 70vh;
    min-height: 100%;
    object-fit: cover;
    object-position: 0 0;
    filter: brightness(70%);
    /* border-radius: 43% 57% 43% 57% / 58% 53% 47% 42% ; */
}

@media (max-width: 568px) {
    .banner img {
        height: 40vh;
    }
    .banner-content {
        width: 90%;
    }
    .banner-content h1 {
        font-size: 1.6rem;
    }
    .service-cont {
        width: 90%;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .container {
        padding: 20px;
        backdrop-filter: blur(1px);
    }
    .container h2 {
        font-size: 1.2em;
        font-weight: 600;
    }
    section > h2 {
        font-size: 1.5em;
    }
    section > p {
        width: 90%;
    }
    #services-overview {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    section {
        margin-top: 0;
    }
    section img {
        height: 70vh;
        min-height: 350px;
    }
    .row > ul {
        margin-top: 20px;
    }
    .row > ul li {
        color: var(--bg2);
    }
}