<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eljotech solutions | About us</title>
    <link rel="stylesheet" href="../static/files/styles/about.css">
    <link rel="stylesheet" href="../static/files/styles/slider.css">
    <link rel="stylesheet" href="../static/files/assets/fontawesome-free-6.5.2-web/css/all.css">
    <link rel="stylesheet" href="../static/files/styles/root.css">
    <script src="../static/files/scripts/script.js"></script>
</head>
<body>
    <div class="hero">
        <video src="../static/files/assets/7255101-uhd_4096_2160_30fps.mp4" autoplay preload="auto" muted></video>
        <img src="../static/files/assets/pexels-pixabay-274886.jpg" alt="">
        <section class="overlay">
            <header>
                <div class="logo">
                    <h1>Eljotech</h1>
                    <h6>Solutions</h6>
                </div>
                <div class="navigation">
                    <a href="#">Home</a>
                    <a href="#">About us</a> 
                    <a href="#">Services</a> 
                    <a href="#">Contact us</a>
                    <span id="closeNav" onclick="closeNav()">&times</span>
                </div>
                <span class="fa fa-bars" id="openNav" onclick="openNav()"></span>
            </header>
            <div class="carousel">
                <div class="slider">
                    <h1>Unique and powerful security systems</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit aspernatur eaque eius, doloribus minima possim.</p>
                    <div class="buttons">
                        <button>Learn more <i class="fa fa-arrow-right-long"></i></button>
                    </div>
                    <div class="caption container">
                        <div class="caption-stat">
                            <h2>20,000+</h2>
                            <h4>Intergrated systems</h4>
                            <p>Lorem, ipsum dolor sit amet consectetur.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>