<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../static/files/styles/services.css">
    <link rel="stylesheet" href="../static/files/styles/navigation.css">
    <link rel="stylesheet" href="../static/files/styles/root.css">
    <script src="../static/files/scripts/script.js"></script>
</head>
<body>
    <header>
        <div class="logo">Eljotech</div>
        <div class="navigation" id="sideNav">
            <a href="#" class="active">Home</a>
            <a href="#">About us</a>
            <a href="#">Services</a>
            <a href="#">Products</a>
            <a href="#">Solutions</a>
            <a href="#">Resources</a>
            <a href="#">Support</a>
            <a href="#" id="contactBtn"><i class="fa fa-phone"></i> Contact us</a>
            <span id="closeNav" onclick="closeNav()">&times</span>
        </div>
        <span id="openNav" onclick="openNav()">&#9776</span>
    </header>
    <div class="banner">
        <img src="../static/files/assets/zhen-yao-2bG6fFQDLLQ-unsplash.jpg" alt="banner-image">
        <div class="banner-content">
            <h1>Our security services</h1>
            <p>Comprehensive security solutions for all your needs</p>
        </div>
    </div>
    <section id="services-overview">
        <h2>Our services</h2>
        <p>We offer a wide range of security installation services and gadgets tailored to meet your specific needs. Explore our services below to learn more.</p>
    </section>
    <div class="service-cont">
        <section id="home-security">
            <img src="../static/files/assets/zhen-yao-2bG6fFQDLLQ-unsplash.jpg" alt="">
            <div class="container">
                <div class="row">
                    <h2>Home Security Installation</h2>
                    <p>Protecting your home with state-of-the-art security installations</p>
                    <ul>
                        <li>Alarm Systems</li>
                        <li>Surveillance Cameras</li>
                        <li>Smart Locks</li>
                        <li>Motion Sensors</li>
                    </ul>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </section>
        <section id="commercial-security">
            <img src="../static/files/assets/cctv-install-2.jpeg" alt="">
            <div class="container">
                <div class="row">
                    <h2>Commercial Security Installation</h2>
                    <p>Ensuring the safety and security of your business with advanced installations.</p>
                    <ul>
                        <li>Access Control Systems</li>
                        <li>CCTV Systems</li>
                        <li>Security Gates and Barriers/li>
                        <li>Intercom Systems</li>
                    </ul>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </section>
        <section id="security-gadgets">
            <img src="../static/files/assets/biometric-access-1.jpeg" alt="">
            <div class="container">
                <div class="row">
                    <h2>Security Gadgets</h2>
                    <p>Offering a wide range of high-tech security gadgetsto keep you safe.</p>
                    <ul>
                        <li>Personal Safety Devices</li>
                        <li>Portable Surveillance Equipment</li>
                        <li>Vehicle Security Systems</li>
                        <li>Emergency Response Gadgets</li>
                    </ul>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </section>
        <section id="maintenance-support">
            <img src="../static/files/assets/cctv-surveillance-camera-7267551.jpg" alt="">
            <div class="container">
                <div class="row">
                    <h2>Maintenance and Support</h2>
                    <p>Providing ongoing maintenance and support for all your security systems.</p>
                    <ul>
                        <li>Routine Maintenance</li>
                        <li>Technical Support</li>
                        <li>System Upgrades</li>
                        <li>Training and Consultations</li>
                    </ul>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </section>
    </div>
</body>
</html>