<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="../static/files/styles/services.css">
    <link rel="stylesheet" href="../static/files/styles/navigation.css">
    <link rel="stylesheet" href="../static/files/styles/root.css">
    <link rel="stylesheet" href="../static/files/assets/fontawesome-free-6.5.2-web/css/all.css">
    <script src="../static/files/scripts/script.js"></script>
</head>
<body>
    <header>
        <div class="logo">Eljotech</div>
        <div class="navigation" id="sideNav">
            <a href="#" class="active">Home</a>
            <a href="#">About us</a>
            <a href="#">Services</a>
            <a href="#">Products</a>
            <a href="#">Solutions</a>
            <a href="#">Resources</a>
            <a href="#">Support</a>
            <a href="#" id="contactBtn"><i class="fa fa-phone"></i> Contact us</a>
            <span id="closeNav" onclick="closeNav()">&times</span>
        </div>
        <span id="openNav" onclick="openNav()">&#9776</span>
    </header>
    <div class="banner">
        <img src="../static/files/assets/zhen-yao-2bG6fFQDLLQ-unsplash.jpg" alt="banner-image">
        <div class="banner-content">
            <h1>Our security services</h1>
            <p>Comprehensive security solutions for all your needs</p>
        </div>
    </div>
    <section id="services-overview">
        <h2>Our services</h2>
        <p>We offer a wide range of security installation services and gadgets tailored to meet your specific needs. Explore our services below to learn more.</p>
    </section>
    <div class="service-cont">
        <section id="home-security">
            <img src="../static/files/assets/zhen-yao-2bG6fFQDLLQ-unsplash.jpg" alt="">
            <div class="container">
                <div class="row">
                    <h2>Home Security Installation</h2>
                    <p>Protecting your home with state-of-the-art security installations</p>
                    <ul>
                        <li>Alarm Systems</li>
                        <li>Surveillance Cameras</li>
                        <li>Smart Locks</li>
                        <li>Motion Sensors</li>
                    </ul>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </section>
        <section id="commercial-security">
            <img src="../static/files/assets/cctv-install-2.jpeg" alt="">
            <div class="container">
                <div class="row">
                    <h2>Commercial Security Installation</h2>
                    <p>Ensuring the safety and security of your business with advanced installations.</p>
                    <ul>
                        <li>Access Control Systems</li>
                        <li>CCTV Systems</li>
                        <li>Security Gates and Barriers/li>
                        <li>Intercom Systems</li>
                    </ul>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </section>
        <section id="security-gadgets">
            <img src="../static/files/assets/biometric-access-1.jpeg" alt="">
            <div class="container">
                <div class="row">
                    <h2>Security Gadgets</h2>
                    <p>Offering a wide range of high-tech security gadgetsto keep you safe.</p>
                    <ul>
                        <li>Personal Safety Devices</li>
                        <li>Portable Surveillance Equipment</li>
                        <li>Vehicle Security Systems</li>
                        <li>Emergency Response Gadgets</li>
                    </ul>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </section>
        <section id="maintenance-support">
            <img src="../static/files/assets/cctv-surveillance-camera-7267551.jpg" alt="">
            <div class="container">
                <div class="row">
                    <h2>Maintenance and Support</h2>
                    <p>Providing ongoing maintenance and support for all your security systems.</p>
                    <ul>
                        <li>Routine Maintenance</li>
                        <li>Technical Support</li>
                        <li>System Upgrades</li>
                        <li>Training and Consultations</li>
                    </ul>
                    <a href="#">Learn More</a>
                </div>
            </div>
        </section>
    </div>
    <section class="testimonial-section">
        <div class="container">
            <div class="test-row">
                <h5>Our client reviews</h5>
                <h2>What they say about our services</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem est reprehenderit nesciunt repellendus amet.</p>
                <div class="profile-container">
                    <div class="profile"><img src="../static/files/assets/cctv-surveillance-camera-7267551_1920.jpg" alt=""></div>
                    <div class="profile"><img src="../static/files/assets/cctv-surveillance-camera-7267551_1920.jpg" alt=""></div>
                    <div class="profile"><img src="../static/files/assets/cctv-surveillance-camera-7267551_1920.jpg" alt=""></div>
                    <div class="profile"><img src="../static/files/assets/cctv-surveillance-camera-7267551_1920.jpg" alt=""></div>
                    <div class="profile"><img src="../static/files/assets/cctv-surveillance-camera-7267551_1920.jpg" alt=""></div>
                </div>
            </div>
            <div class="test-row slider-container">
                <div class="test-slider slider">
                    <div class="testimonial slide">
                        <span class="fa fa-quote-right"></span>
                        <p>Working with eljotech solutions has been the best thing to happen to my business</p>
                        <div class="slider-profile">
                            <img src="../static/files/assets/biometric-access-1.jpeg" alt="">
                            <div class="profile-body">
                                <h2>Peter Gacheru</h2>
                                <p>Business owner</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial slide">
                        <span class="fa fa-quote-right"></span>
                        <p>Working with eljotech solutions has been the best thing to happen to my business</p>
                        <div class="slider-profile">
                            <img src="./static/files/assets/biometric-access-1.jpeg" alt="">
                            <div class="profile-body">
                                <h2>George Owen</h2>
                                <p>Business owner</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial slide">
                        <span class="fa fa-quote-right"></span>
                        <p>Working with eljotech solutions has been the best thing to happen to my business</p>
                        <div class="slider-profile">
                            <img src="./static/files/assets/biometric-access-1.jpeg" alt="">
                            <div class="profile-body">
                                <h2>Peter Gacheru</h2>
                                <p>Business owner</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial slide">
                        <span class="fa fa-quote-right"></span>
                        <p>Working with eljotech solutions has been the best thing to happen to my business</p>
                        <div class="slider-profile">
                            <img src="./static/files/assets/biometric-access-1.jpeg" alt="">
                            <div class="profile-body">
                                <h2>Peter Gacheru</h2>
                                <p>Business owner</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="test-controls">
                    <button class="fa fa-arrow-left" onclick="moveSlide(-1)"></button>
                    <button class="fa fa-arrow-right" onclick="moveSlide(1)"></button>
                </div>
            </div>
        </div>
    </section>
    <section class="FAQ-section">
        <div class="container">
            <h5>FAQ questions</h5>
            <h1>General Questions</h1>
            <h1>Frequently Asked Questions</h1>
            <div class="FAQ-container">
                <div class="FAQ-row accordion">
                    <div class="FAQ accordion-item">
                        <button class="accordion-header">Lorem ipsum dolor sit amet consectetur ? <span class="fa fa-plus"></span></button>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur necessitatibus id debitis facilis tenetur magnam dignissimos fugit officiis quisquam numquam? Eum sequi esse odio aliquam ducimus cupiditate eaque aliquid alias.</p>
                        </div>
                    </div>
                    <div class="FAQ accordion-item">
                        <button class="accordion-header">Lorem ipsum dolor sit amet consectetur ? <span class="fa fa-plus"></span></button>
                        <div class="accordion-content">
                            <p>id debitis facilis tenetur magnam dignissimos fugit officiis quisquam numquam? Eum sequi esse odio aliquam ducimus cupiditate eaque aliquid alias.</p>
                        </div>
                    </div>
                    <div class="FAQ accordion-item">
                        <button class="accordion-header">Lorem ipsum dolor sit amet consectetur ? <span class="fa fa-plus"></span></button>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur necessitatibus id debitis facilis tenetur magnam dignissimos fugit officiis quisquam numquam? Eum sequi esse odio aliquam ducimus cupiditate eaque aliquid alias.</p>
                        </div>
                    </div>
                    <div class="FAQ accordion-item">
                        <button class="accordion-header">Lorem ipsum dolor sit amet consectetur ? <span class="fa fa-plus"></span></button>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur necessitatibus id debitis facilis tenetur magnam dignissimos fugit officiis quisquam numquam? Eum sequi esse odio aliquam ducimus cupiditate eaque aliquid alias.</p>
                        </div>
                    </div>
                    <div class="FAQ accordion-item">
                        <button class="accordion-header">Lorem ipsum dolor sit amet consectetur ? <span class="fa fa-plus"></span></button>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur necessitatibus id debitis facilis tenetur magnam dignissimos fugit officiis quisquam numquam? Eum sequi esse odio aliquam ducimus cupiditate eaque aliquid alias.</p>
                        </div>
                    </div>
                    <div class="FAQ accordion-item">
                        <button class="accordion-header">Lorem ipsum dolor sit amet consectetur ? <span class="fa fa-plus"></span></button>
                        <div class="accordion-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur necessitatibus id debitis facilis tenetur magnam dignissimos fugit officiis quisquam numquam? Eum sequi esse odio aliquam ducimus cupiditate eaque aliquid alias.</p>
                        </div>
                    </div>
                </div>
                <div class="FAQ-row">
                    <img src="../static/files/assets/cctv-surveillance-camera-7267551.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="footer-col">
                <h2>Contact us</h2>
                <a href="tel:+254721474176">+254 721474176</a>
                <a href="email:info@eljotechsolutions.co.ke">info@eljotechsolutions.co.ke</a>
                <a href="#">P>O Box 24055- 00100</a>
            </div>
            <div class="footer-col">
                <h2>Our services</h2>
                <a href="/index.html">Home</a>
                <a href="#">About us</a>
                <a href="#">Services</a>
                <a href="#">Features</a>
            </div>
            <div class="footer-col">
                <h2>Quick link</h2>
                <a href="#">Knowledge base</a>
                <a href="#">Hire an expert</a>
                <a href="#">FAQ</a>
                <a href="#">Contact</a></div>
            <div class="footer-col">
                <h2>Eljotech Solutions</h2>
                <p>Get the best for your self from our certified experts</p>
            </div>
        </div>
    </footer>
</body>
</html>